@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    text-align: center;
    letter-spacing: .5px;
    margin-top: 250px;
}
h1{
    font-family: 'Dongle', sans-serif;
    font-size: 110px;
}
p{
    color: green;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-size: 11px;
}
a{
    text-decoration: none;
}

@media (max-width: 650px){
    h1{
        font-size: 50px;
    }
    }

#btn{
    background-color: #34af23;
}